.App {
  display: flex;
  text-align: block;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .App {
    flex-direction: column;
    width: 100%;
  }

  .NameList {
    width: 100%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .inputFieldStyle {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 500px) {
  .NameList {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .inputFieldStyle {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50%;
    justify-content: center;
    align-items: center;
  }
}

.changingNumber {
  font-size: 2rem;
}
